ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  width: 48%;
  margin-bottom: 10px;
  font-size: 12px;
}

li:before {
  content: "\2713";
  color: var(--white);
  margin-right: 8px;
  background-color: var(--yellow);
  border-radius: 50%;
  line-height: 1.2em;
  padding: 0.2em;
}
