/* Overlay for mobile menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with transparency */
  display: none; /* Hide overlay by default */
  z-index: 9999; /* Ensure overlay is on top */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.overlay-open {
  display: flex; /* Display overlay when open */
}

.overlay .nav-link {
  color: white; /* White color for links */
  font-size: 1.5rem; /* Increase font size */
}

.overlay .nav-link:hover {
  color: #ffc107; /* Yellow color for hover */
}

/* Optional: Style for the close icon inside the overlay */
.overlay .navbar-toggle {
  position: absolute; /* Position the close button */
  top: 1rem; /* Adjust top position */
  right: 1rem; /* Adjust right position */
}
