.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin: 0 20px;
}

.products {
  text-align: center;
}

.products img {
  align-items: start;
  height: auto;
}

.products h6 {
  font-weight: 500;
  font-size: 15px;
}

.products p {
  font-size: 12px;
  font-weight: 200;
}
