@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-lg;
  }

  .glass-dark {
    @apply bg-black/70 backdrop-blur-lg border border-white/10 shadow-lg;
  }
}
