.product-container {
  border: 1px solid var(--black);
  border-radius: 2em;
  overflow: hidden;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}
.product-container img {
  width: 80px;
  height: 80px;
}

/* .product-details {
  padding: 10px;
} */

.product-name {
  font-weight: bold;
  margin: 0;
  font-size: 10px;
}

.product-price {
  color: var(--red);
  margin: 0;
  font-size: 12px;
}
