:root {
  --black: #403c39;
  --red: #f38160;
  --grey1: #949494;
  --grey2: #909090;
  --yellow: #f0b70d;
  --white: #fafafa;
  --font-family1: "Montserrat", sans-serif;
  --font-family2: "Poppins", sans-serif;
  /* --font-family: "Space Grotesk", sans-serif; */
}
